<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>TutorBookingSystem</display-name>

  <welcome-file-list>
    <welcome-file>homepage.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>XMLServlet</servlet-name>
    <servlet-class>XMLServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XMLServlet</servlet-name>
    <url-pattern>/XMLServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>source.script.LoginServlet</servlet-class>
    <init-param>
        <param-name>userNameI</param-name>
        <param-value>Admin</param-value>
    </init-param>
    <init-param>
        <param-name>passWordI</param-name>
        <param-value>Admin</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>source.script.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CourseMaintain</servlet-name>
    <servlet-class>source.script.CourseMaintain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseMaintain</servlet-name>
    <url-pattern>/CourseMaintain</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CourseAdd</servlet-name>
    <servlet-class>source.script.CourseAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseAdd</servlet-name>
    <url-pattern>/CourseAdd</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ApproveTutors</servlet-name>
    <servlet-class>source.script.ApproveTutors</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveTutors</servlet-name>
    <url-pattern>/ApproveTutors</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DeleteProfiles</servlet-name>
    <servlet-class>source.script.DeleteProfiles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProfiles</servlet-name>
    <url-pattern>/DeleteProfiles</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AddTutorCourse</servlet-name>
    <servlet-class>source.script.AddTutorCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTutorCourse</servlet-name>
    <url-pattern>/AddTutorCourse</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DeleteTutorCourse</servlet-name>
    <servlet-class>source.script.DeleteTutorCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTutorCourse</servlet-name>
    <url-pattern>/DeleteTutorCourse</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
    <servlet-name>ViewProfileServlet</servlet-name>
    <servlet-class>source.script.ViewProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProfileServlet</servlet-name>
    <url-pattern>/ViewProfileServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CourseServlet</servlet-name>
    <servlet-class>source.script.CourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseServlet</servlet-name>
    <url-pattern>/CourseServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AddTutorAvailability</servlet-name>
    <servlet-class>source.script.AddTutorAvailability</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTutorAvailability</servlet-name>
    <url-pattern>/AddTutorAvailability</url-pattern>
  </servlet-mapping>
  
  <listener>
  	<listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
  </listener>
  
  <filter>
  	<filter-name>ShiroFilter</filter-name>
  	<filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>ShiroFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  	<dispatcher>REQUEST</dispatcher>
  	<dispatcher>FORWARD</dispatcher>
  	<dispatcher>INCLUDE</dispatcher>
  	<dispatcher>ERROR</dispatcher>
  </filter-mapping>

</web-app>